.grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}
.grid-container.max-content-in-vw {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.grid-container.gap-5 {
  grid-gap: 5px;
}
.grid-container.gap-10 {
  grid-gap: 10px;
}
.grid-container.gap-15 {
  grid-gap: 15px;
}
.grid-container.gap-20 {
  grid-gap: 20px;
}
.grid-container.gap-25 {
  grid-gap: 25px;
}
.grid-container.gap-30 {
  grid-gap: 30px;
}
.grid-container.gap-35 {
  grid-gap: 35px;
}
.grid-container.gap-40 {
  grid-gap: 40px;
}
.grid-container.gap-45 {
  grid-gap: 45px;
}
.grid-container.gap-50 {
  grid-gap: 50px;
}

.h100px {
  height: 100px;
}

.h200px {
  height: 200px;
}

.h300px {
  height: 300px;
}

.h400px {
  height: 400px;
}

.h500px {
  height: 500px;
}

.grid-col-1 {
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.grid-row-1-of-50px {
  -ms-grid-rows: (50px)[1];
  grid-template-rows: repeat(1, 50px);
}

.grid-row-1-of-100px {
  -ms-grid-rows: (100px)[1];
  grid-template-rows: repeat(1, 100px);
}

.grid-row-1-of-150px {
  -ms-grid-rows: (150px)[1];
  grid-template-rows: repeat(1, 150px);
}

.grid-row-1-of-200px {
  -ms-grid-rows: (200px)[1];
  grid-template-rows: repeat(1, 200px);
}

.grid-row-1-of-250px {
  -ms-grid-rows: (250px)[1];
  grid-template-rows: repeat(1, 250px);
}

.grid-row-1-of-300px {
  -ms-grid-rows: (300px)[1];
  grid-template-rows: repeat(1, 300px);
}

.grid-row-1-of-350px {
  -ms-grid-rows: (350px)[1];
  grid-template-rows: repeat(1, 350px);
}

.grid-row-1-of-400px {
  -ms-grid-rows: (400px)[1];
  grid-template-rows: repeat(1, 400px);
}

.grid-row-1-of-450px {
  -ms-grid-rows: (450px)[1];
  grid-template-rows: repeat(1, 450px);
}

.grid-row-1-of-500px {
  -ms-grid-rows: (500px)[1];
  grid-template-rows: repeat(1, 500px);
}

.grid-span-1 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

.grid-col-2 {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.grid-row-2-of-50px {
  -ms-grid-rows: (50px)[2];
  grid-template-rows: repeat(2, 50px);
}

.grid-row-2-of-100px {
  -ms-grid-rows: (100px)[2];
  grid-template-rows: repeat(2, 100px);
}

.grid-row-2-of-150px {
  -ms-grid-rows: (150px)[2];
  grid-template-rows: repeat(2, 150px);
}

.grid-row-2-of-200px {
  -ms-grid-rows: (200px)[2];
  grid-template-rows: repeat(2, 200px);
}

.grid-row-2-of-250px {
  -ms-grid-rows: (250px)[2];
  grid-template-rows: repeat(2, 250px);
}

.grid-row-2-of-300px {
  -ms-grid-rows: (300px)[2];
  grid-template-rows: repeat(2, 300px);
}

.grid-row-2-of-350px {
  -ms-grid-rows: (350px)[2];
  grid-template-rows: repeat(2, 350px);
}

.grid-row-2-of-400px {
  -ms-grid-rows: (400px)[2];
  grid-template-rows: repeat(2, 400px);
}

.grid-row-2-of-450px {
  -ms-grid-rows: (450px)[2];
  grid-template-rows: repeat(2, 450px);
}

.grid-row-2-of-500px {
  -ms-grid-rows: (500px)[2];
  grid-template-rows: repeat(2, 500px);
}

.grid-span-2 {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.grid-col-3 {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.grid-row-3-of-50px {
  -ms-grid-rows: (50px)[3];
  grid-template-rows: repeat(3, 50px);
}

.grid-row-3-of-100px {
  -ms-grid-rows: (100px)[3];
  grid-template-rows: repeat(3, 100px);
}

.grid-row-3-of-150px {
  -ms-grid-rows: (150px)[3];
  grid-template-rows: repeat(3, 150px);
}

.grid-row-3-of-200px {
  -ms-grid-rows: (200px)[3];
  grid-template-rows: repeat(3, 200px);
}

.grid-row-3-of-250px {
  -ms-grid-rows: (250px)[3];
  grid-template-rows: repeat(3, 250px);
}

.grid-row-3-of-300px {
  -ms-grid-rows: (300px)[3];
  grid-template-rows: repeat(3, 300px);
}

.grid-row-3-of-350px {
  -ms-grid-rows: (350px)[3];
  grid-template-rows: repeat(3, 350px);
}

.grid-row-3-of-400px {
  -ms-grid-rows: (400px)[3];
  grid-template-rows: repeat(3, 400px);
}

.grid-row-3-of-450px {
  -ms-grid-rows: (450px)[3];
  grid-template-rows: repeat(3, 450px);
}

.grid-row-3-of-500px {
  -ms-grid-rows: (500px)[3];
  grid-template-rows: repeat(3, 500px);
}

.grid-span-3 {
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

.grid-col-4 {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.grid-row-4-of-50px {
  -ms-grid-rows: (50px)[4];
  grid-template-rows: repeat(4, 50px);
}

.grid-row-4-of-100px {
  -ms-grid-rows: (100px)[4];
  grid-template-rows: repeat(4, 100px);
}

.grid-row-4-of-150px {
  -ms-grid-rows: (150px)[4];
  grid-template-rows: repeat(4, 150px);
}

.grid-row-4-of-200px {
  -ms-grid-rows: (200px)[4];
  grid-template-rows: repeat(4, 200px);
}

.grid-row-4-of-250px {
  -ms-grid-rows: (250px)[4];
  grid-template-rows: repeat(4, 250px);
}

.grid-row-4-of-300px {
  -ms-grid-rows: (300px)[4];
  grid-template-rows: repeat(4, 300px);
}

.grid-row-4-of-350px {
  -ms-grid-rows: (350px)[4];
  grid-template-rows: repeat(4, 350px);
}

.grid-row-4-of-400px {
  -ms-grid-rows: (400px)[4];
  grid-template-rows: repeat(4, 400px);
}

.grid-row-4-of-450px {
  -ms-grid-rows: (450px)[4];
  grid-template-rows: repeat(4, 450px);
}

.grid-row-4-of-500px {
  -ms-grid-rows: (500px)[4];
  grid-template-rows: repeat(4, 500px);
}

.grid-span-4 {
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

.grid-col-5 {
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}

.grid-row-5-of-50px {
  -ms-grid-rows: (50px)[5];
  grid-template-rows: repeat(5, 50px);
}

.grid-row-5-of-100px {
  -ms-grid-rows: (100px)[5];
  grid-template-rows: repeat(5, 100px);
}

.grid-row-5-of-150px {
  -ms-grid-rows: (150px)[5];
  grid-template-rows: repeat(5, 150px);
}

.grid-row-5-of-200px {
  -ms-grid-rows: (200px)[5];
  grid-template-rows: repeat(5, 200px);
}

.grid-row-5-of-250px {
  -ms-grid-rows: (250px)[5];
  grid-template-rows: repeat(5, 250px);
}

.grid-row-5-of-300px {
  -ms-grid-rows: (300px)[5];
  grid-template-rows: repeat(5, 300px);
}

.grid-row-5-of-350px {
  -ms-grid-rows: (350px)[5];
  grid-template-rows: repeat(5, 350px);
}

.grid-row-5-of-400px {
  -ms-grid-rows: (400px)[5];
  grid-template-rows: repeat(5, 400px);
}

.grid-row-5-of-450px {
  -ms-grid-rows: (450px)[5];
  grid-template-rows: repeat(5, 450px);
}

.grid-row-5-of-500px {
  -ms-grid-rows: (500px)[5];
  grid-template-rows: repeat(5, 500px);
}

.grid-span-5 {
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

.grid-col-6 {
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}

.grid-row-6-of-50px {
  -ms-grid-rows: (50px)[6];
  grid-template-rows: repeat(6, 50px);
}

.grid-row-6-of-100px {
  -ms-grid-rows: (100px)[6];
  grid-template-rows: repeat(6, 100px);
}

.grid-row-6-of-150px {
  -ms-grid-rows: (150px)[6];
  grid-template-rows: repeat(6, 150px);
}

.grid-row-6-of-200px {
  -ms-grid-rows: (200px)[6];
  grid-template-rows: repeat(6, 200px);
}

.grid-row-6-of-250px {
  -ms-grid-rows: (250px)[6];
  grid-template-rows: repeat(6, 250px);
}

.grid-row-6-of-300px {
  -ms-grid-rows: (300px)[6];
  grid-template-rows: repeat(6, 300px);
}

.grid-row-6-of-350px {
  -ms-grid-rows: (350px)[6];
  grid-template-rows: repeat(6, 350px);
}

.grid-row-6-of-400px {
  -ms-grid-rows: (400px)[6];
  grid-template-rows: repeat(6, 400px);
}

.grid-row-6-of-450px {
  -ms-grid-rows: (450px)[6];
  grid-template-rows: repeat(6, 450px);
}

.grid-row-6-of-500px {
  -ms-grid-rows: (500px)[6];
  grid-template-rows: repeat(6, 500px);
}

.grid-span-6 {
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

.grid-col-7 {
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
}

.grid-row-7-of-50px {
  -ms-grid-rows: (50px)[7];
  grid-template-rows: repeat(7, 50px);
}

.grid-row-7-of-100px {
  -ms-grid-rows: (100px)[7];
  grid-template-rows: repeat(7, 100px);
}

.grid-row-7-of-150px {
  -ms-grid-rows: (150px)[7];
  grid-template-rows: repeat(7, 150px);
}

.grid-row-7-of-200px {
  -ms-grid-rows: (200px)[7];
  grid-template-rows: repeat(7, 200px);
}

.grid-row-7-of-250px {
  -ms-grid-rows: (250px)[7];
  grid-template-rows: repeat(7, 250px);
}

.grid-row-7-of-300px {
  -ms-grid-rows: (300px)[7];
  grid-template-rows: repeat(7, 300px);
}

.grid-row-7-of-350px {
  -ms-grid-rows: (350px)[7];
  grid-template-rows: repeat(7, 350px);
}

.grid-row-7-of-400px {
  -ms-grid-rows: (400px)[7];
  grid-template-rows: repeat(7, 400px);
}

.grid-row-7-of-450px {
  -ms-grid-rows: (450px)[7];
  grid-template-rows: repeat(7, 450px);
}

.grid-row-7-of-500px {
  -ms-grid-rows: (500px)[7];
  grid-template-rows: repeat(7, 500px);
}

.grid-span-7 {
  -ms-grid-column-span: 7;
  grid-column-end: span 7;
}

.grid-col-8 {
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
}

.grid-row-8-of-50px {
  -ms-grid-rows: (50px)[8];
  grid-template-rows: repeat(8, 50px);
}

.grid-row-8-of-100px {
  -ms-grid-rows: (100px)[8];
  grid-template-rows: repeat(8, 100px);
}

.grid-row-8-of-150px {
  -ms-grid-rows: (150px)[8];
  grid-template-rows: repeat(8, 150px);
}

.grid-row-8-of-200px {
  -ms-grid-rows: (200px)[8];
  grid-template-rows: repeat(8, 200px);
}

.grid-row-8-of-250px {
  -ms-grid-rows: (250px)[8];
  grid-template-rows: repeat(8, 250px);
}

.grid-row-8-of-300px {
  -ms-grid-rows: (300px)[8];
  grid-template-rows: repeat(8, 300px);
}

.grid-row-8-of-350px {
  -ms-grid-rows: (350px)[8];
  grid-template-rows: repeat(8, 350px);
}

.grid-row-8-of-400px {
  -ms-grid-rows: (400px)[8];
  grid-template-rows: repeat(8, 400px);
}

.grid-row-8-of-450px {
  -ms-grid-rows: (450px)[8];
  grid-template-rows: repeat(8, 450px);
}

.grid-row-8-of-500px {
  -ms-grid-rows: (500px)[8];
  grid-template-rows: repeat(8, 500px);
}

.grid-span-8 {
  -ms-grid-column-span: 8;
  grid-column-end: span 8;
}

.grid-col-9 {
  -ms-grid-columns: (1fr)[9];
  grid-template-columns: repeat(9, 1fr);
}

.grid-row-9-of-50px {
  -ms-grid-rows: (50px)[9];
  grid-template-rows: repeat(9, 50px);
}

.grid-row-9-of-100px {
  -ms-grid-rows: (100px)[9];
  grid-template-rows: repeat(9, 100px);
}

.grid-row-9-of-150px {
  -ms-grid-rows: (150px)[9];
  grid-template-rows: repeat(9, 150px);
}

.grid-row-9-of-200px {
  -ms-grid-rows: (200px)[9];
  grid-template-rows: repeat(9, 200px);
}

.grid-row-9-of-250px {
  -ms-grid-rows: (250px)[9];
  grid-template-rows: repeat(9, 250px);
}

.grid-row-9-of-300px {
  -ms-grid-rows: (300px)[9];
  grid-template-rows: repeat(9, 300px);
}

.grid-row-9-of-350px {
  -ms-grid-rows: (350px)[9];
  grid-template-rows: repeat(9, 350px);
}

.grid-row-9-of-400px {
  -ms-grid-rows: (400px)[9];
  grid-template-rows: repeat(9, 400px);
}

.grid-row-9-of-450px {
  -ms-grid-rows: (450px)[9];
  grid-template-rows: repeat(9, 450px);
}

.grid-row-9-of-500px {
  -ms-grid-rows: (500px)[9];
  grid-template-rows: repeat(9, 500px);
}

.grid-span-9 {
  -ms-grid-column-span: 9;
  grid-column-end: span 9;
}

.grid-col-10 {
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
}

.grid-row-10-of-50px {
  -ms-grid-rows: (50px)[10];
  grid-template-rows: repeat(10, 50px);
}

.grid-row-10-of-100px {
  -ms-grid-rows: (100px)[10];
  grid-template-rows: repeat(10, 100px);
}

.grid-row-10-of-150px {
  -ms-grid-rows: (150px)[10];
  grid-template-rows: repeat(10, 150px);
}

.grid-row-10-of-200px {
  -ms-grid-rows: (200px)[10];
  grid-template-rows: repeat(10, 200px);
}

.grid-row-10-of-250px {
  -ms-grid-rows: (250px)[10];
  grid-template-rows: repeat(10, 250px);
}

.grid-row-10-of-300px {
  -ms-grid-rows: (300px)[10];
  grid-template-rows: repeat(10, 300px);
}

.grid-row-10-of-350px {
  -ms-grid-rows: (350px)[10];
  grid-template-rows: repeat(10, 350px);
}

.grid-row-10-of-400px {
  -ms-grid-rows: (400px)[10];
  grid-template-rows: repeat(10, 400px);
}

.grid-row-10-of-450px {
  -ms-grid-rows: (450px)[10];
  grid-template-rows: repeat(10, 450px);
}

.grid-row-10-of-500px {
  -ms-grid-rows: (500px)[10];
  grid-template-rows: repeat(10, 500px);
}

.grid-span-10 {
  -ms-grid-column-span: 10;
  grid-column-end: span 10;
}

.grid-col-11 {
  -ms-grid-columns: (1fr)[11];
  grid-template-columns: repeat(11, 1fr);
}

.grid-row-11-of-50px {
  -ms-grid-rows: (50px)[11];
  grid-template-rows: repeat(11, 50px);
}

.grid-row-11-of-100px {
  -ms-grid-rows: (100px)[11];
  grid-template-rows: repeat(11, 100px);
}

.grid-row-11-of-150px {
  -ms-grid-rows: (150px)[11];
  grid-template-rows: repeat(11, 150px);
}

.grid-row-11-of-200px {
  -ms-grid-rows: (200px)[11];
  grid-template-rows: repeat(11, 200px);
}

.grid-row-11-of-250px {
  -ms-grid-rows: (250px)[11];
  grid-template-rows: repeat(11, 250px);
}

.grid-row-11-of-300px {
  -ms-grid-rows: (300px)[11];
  grid-template-rows: repeat(11, 300px);
}

.grid-row-11-of-350px {
  -ms-grid-rows: (350px)[11];
  grid-template-rows: repeat(11, 350px);
}

.grid-row-11-of-400px {
  -ms-grid-rows: (400px)[11];
  grid-template-rows: repeat(11, 400px);
}

.grid-row-11-of-450px {
  -ms-grid-rows: (450px)[11];
  grid-template-rows: repeat(11, 450px);
}

.grid-row-11-of-500px {
  -ms-grid-rows: (500px)[11];
  grid-template-rows: repeat(11, 500px);
}

.grid-span-11 {
  -ms-grid-column-span: 11;
  grid-column-end: span 11;
}

.grid-col-12 {
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.grid-row-12-of-50px {
  -ms-grid-rows: (50px)[12];
  grid-template-rows: repeat(12, 50px);
}

.grid-row-12-of-100px {
  -ms-grid-rows: (100px)[12];
  grid-template-rows: repeat(12, 100px);
}

.grid-row-12-of-150px {
  -ms-grid-rows: (150px)[12];
  grid-template-rows: repeat(12, 150px);
}

.grid-row-12-of-200px {
  -ms-grid-rows: (200px)[12];
  grid-template-rows: repeat(12, 200px);
}

.grid-row-12-of-250px {
  -ms-grid-rows: (250px)[12];
  grid-template-rows: repeat(12, 250px);
}

.grid-row-12-of-300px {
  -ms-grid-rows: (300px)[12];
  grid-template-rows: repeat(12, 300px);
}

.grid-row-12-of-350px {
  -ms-grid-rows: (350px)[12];
  grid-template-rows: repeat(12, 350px);
}

.grid-row-12-of-400px {
  -ms-grid-rows: (400px)[12];
  grid-template-rows: repeat(12, 400px);
}

.grid-row-12-of-450px {
  -ms-grid-rows: (450px)[12];
  grid-template-rows: repeat(12, 450px);
}

.grid-row-12-of-500px {
  -ms-grid-rows: (500px)[12];
  grid-template-rows: repeat(12, 500px);
}

.grid-span-12 {
  -ms-grid-column-span: 12;
  grid-column-end: span 12;
}

@media screen and (min-width: 576px) {
  .grid-col-sm-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-span-sm-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  .grid-col-sm-2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-span-sm-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  .grid-col-sm-3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-span-sm-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  .grid-col-sm-4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-span-sm-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  .grid-col-sm-5 {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-span-sm-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }

  .grid-col-sm-6 {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-span-sm-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  .grid-col-sm-7 {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-span-sm-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7;
  }

  .grid-col-sm-8 {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-span-sm-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
  }

  .grid-col-sm-9 {
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-span-sm-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9;
  }

  .grid-col-sm-10 {
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-span-sm-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10;
  }

  .grid-col-sm-11 {
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-span-sm-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11;
  }

  .grid-col-sm-12 {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-span-sm-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12;
  }
}
@media screen and (min-width: 768px) {
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-span-md-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  .grid-col-md-2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-span-md-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  .grid-col-md-3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-span-md-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  .grid-col-md-4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-span-md-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  .grid-col-md-5 {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-span-md-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }

  .grid-col-md-6 {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-span-md-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  .grid-col-md-7 {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-span-md-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7;
  }

  .grid-col-md-8 {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-span-md-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
  }

  .grid-col-md-9 {
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-span-md-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9;
  }

  .grid-col-md-10 {
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-span-md-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10;
  }

  .grid-col-md-11 {
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-span-md-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11;
  }

  .grid-col-md-12 {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-span-md-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12;
  }
}
@media screen and (min-width: 992px) {
  .grid-col-lg-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-span-lg-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  .grid-col-lg-2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-span-lg-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  .grid-col-lg-3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-span-lg-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  .grid-col-lg-4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-span-lg-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  .grid-col-lg-5 {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-span-lg-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }

  .grid-col-lg-6 {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-span-lg-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  .grid-col-lg-7 {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-span-lg-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7;
  }

  .grid-col-lg-8 {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-span-lg-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
  }

  .grid-col-lg-9 {
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-span-lg-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9;
  }

  .grid-col-lg-10 {
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-span-lg-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10;
  }

  .grid-col-lg-11 {
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-span-lg-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11;
  }

  .grid-col-lg-12 {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-span-lg-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12;
  }
}
@media screen and (min-width: 1200px) {
  .grid-col-xl-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-span-xl-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  .grid-col-xl-2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-span-xl-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  .grid-col-xl-3 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-span-xl-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  .grid-col-xl-4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-span-xl-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  .grid-col-xl-5 {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-span-xl-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }

  .grid-col-xl-6 {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-span-xl-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  .grid-col-xl-7 {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-span-xl-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7;
  }

  .grid-col-xl-8 {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-span-xl-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
  }

  .grid-col-xl-9 {
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-span-xl-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9;
  }

  .grid-col-xl-10 {
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-span-xl-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10;
  }

  .grid-col-xl-11 {
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-span-xl-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11;
  }

  .grid-col-xl-12 {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-span-xl-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12;
  }
}
.btn {
  color: white !important;
}

.grid-item {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
}
.grid-item span {
  padding: 5px;
  color: #000;
}

pre.code-square {
  background-color: #1b3246;
}
pre.code-square code {
  color: greenyellow;
}
pre.code-square code span.comentario {
  color: white;
}
/*# sourceMappingURL=_aditional_config.css.map */