$breackPoints: (
    sm:576px,
    md:768px,
    lg:992px,
    xl:1200px
);

.grid-container{
    display: grid;
    &.max-content-in-vw{
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }
    @for $i from 1 through 10{
        $num : $i * 5;
        &.gap-#{$num}{
            grid-gap:#{$num}px;
        }
             
    }
    grid-auto-rows:minmax(100px, auto);
}

@for $i from 1 through 10{
    $num: $i * 10px;
    .h-#{$num}{
        height: #{$num};
    }
}

@for $i from 1 through 12{
    .grid-col-#{$i}{
        grid-template-columns: repeat(#{$i},1fr);
    }
    @for $e from 1 through 10{
        $num: $e * 50px;
        .grid-row-#{$i}-of-#{$num}px{
            grid-template-rows:repeat(#{$i},#{$num});
        }
    }
    .grid-span-#{$i}{
        grid-column-end: span #{$i};
    }
}

@media screen and (min-width:map-get($breackPoints, sm)){
    @for $i from 1 through 12{
        .grid-col-sm-#{$i}{
            grid-template-columns: repeat(#{$i},1fr);
        }
        .grid-span-sm-#{$i}{
            grid-column-end: span #{$i};
        }
    }
}
@media screen and (min-width:map-get($breackPoints, md)){
    @for $i from 1 through 12{
        .grid-col-md-#{$i}{
            grid-template-columns: repeat(#{$i},1fr);
        }
        .grid-span-md-#{$i}{
            grid-column-end: span #{$i};
        }
    }
}
@media screen and (min-width:map-get($breackPoints, lg)){
    @for $i from 1 through 12{
        .grid-col-lg-#{$i}{
            grid-template-columns: repeat(#{$i},1fr);
        }
        .grid-span-lg-#{$i}{
            grid-column-end: span #{$i};
        }
    }
}
@media screen and (min-width:map-get($breackPoints, xl)){
    @for $i from 1 through 12{
        .grid-col-xl-#{$i}{
            grid-template-columns: repeat(#{$i},1fr);
        }
        .grid-span-xl-#{$i}{
            grid-column-end: span #{$i};
        }
    }
}

.btn {
    color: white !important;
}

@for $i from 0 through 10 {

    $num: $i * 0.5;
    .line-height-#{$i} {
        line-height:#{$num}rem;
    }
    $num1: $i * 10px;
    .bottom-#{$num1}{
        bottom:$num1;
    }
    .top-#{$num1} {
        top: $num1;
    }
    .left-#{$num1} {
        left: $num1;
    }
    .right-#{$num1} {
        right: $num1;
    }
}

.grid-place-items{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color:white;
    span{
        padding:5px;
        color:#000
    }
}
pre.code-square{
    background-color: darken(steelblue,30%);
    code{
        color:greenyellow;
        & > * {
            font-size: 1rem !important;
        }
        span.comentario{
            color:white;
        }
    }
}